spring:
  application:
    name: shop
  datasource:
    url: jdbc:postgresql://localhost:5432/shop?currentSchema=public
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: admin
    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true
          jdbc:
            time_zone: UTC

server:
  port: 8081

api:
  v1: /api/v1